.time__title {
    font-family: Kurale;
    font-weight: 400;
    font-size: 50.4px;
    color: white;
    text-align: center;
    margin-bottom: 100px;
}

.time__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.Time {
    padding: 100px 0;
}

.time__container__title {
    color: rgb(255, 195, 50);
    margin-bottom: 20px;
    font-family: Kurale;
    font-weight: 400;
    font-size: 31.36px;
}

.time__container__link {
    color: white;
    font-size: 17px;
}

@media (max-width:700px) {
    .time__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .time__container__title {
        text-align: center;
    }

    .time__container__link {
        text-align: center;
    }

    .time__div {
        margin-bottom: 20px;
    }
}

@media (max-width:500px) {
    .time__title {
        font-size: 35px;
    }

    .time__container__title {
        font-size: 25px;
    }
}